html {
  // making the root font-size to 10px
  font-size: 62.5%;
}

body {
  // background-color: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

// button:focus {
//   outline-color: $purple;
// }

button:disabled {
  cursor: default;
}

// input:focus {
//   outline-color: $purple;
// }

.is-active {
  font-weight: bold;
}
